/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
}

#game-boards-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 600px;
  height: 600px;
}

.game-board-square {
  border: 1px solid black;
  aspect-ratio: 1;
  position: relative;
}

.water {
  background-color: skyblue;
}

.ship {
  background-color: lightgrey;
}

.hidden-ship {
  background-color: skyblue;
}

.miss {
  background-color: skyblue;
}

.miss::after {
  content: "•";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 6rem;
  font-weight: bold;
  pointer-events: none;
}

.hit {
  background-color: lightgrey;
}

.hit::after {
  content: "❌";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  pointer-events: none;
}
