/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.hidden {
  display: none;
}

html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #121212;
  font-family: Arial, Helvetica, "Nimbus Sans L", "Liberation Sans", sans-serif;
  min-width: 1600px;
}

#header {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.87);
}

/* Mode Selection Container */

#mode-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background: rgb(36, 36, 36);
}

#mode-selection-container.hidden {
  display: none;
}

#mode-selection-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

#mode-selection-buttons {
  display: flex;
  gap: 2rem;
}

#pvp-selection-button,
#pve-selection-button {
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #bb86fc;
  font-weight: bold;
}

#pvp-selection-button:hover,
#pve-selection-button:hover {
  opacity: 0.9;
}

/* Game Status Container */

#game-status-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background: rgb(36, 36, 36);
  color: rgba(255, 255, 255, 0.87);
}

#game-status-header {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}

#game-status-message {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

/* Playing Section */

#playing-section {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

/* Ship Placement Container */

#ship-placement-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background: rgb(36, 36, 36);
  height: 100%;
}

#ship-placement-container.hidden {
  display: none;
}

#ship-placement-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

/* Draggable Ships Container */

#draggable-ships-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#draggable-ships-section-header {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}

#draggable-ships-section-text {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

#draggable-ships-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  gap: 0.5rem;
  border-radius: 6px;
  background-color: rgb(52, 52, 52);
}

.draggable-ship {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(70, 70, 70);
  border: 1px solid rgb(52, 52, 52);
  border-radius: 6px;
  cursor: grab;
}

.draggable-ship:hover {
  background-color: rgba(70, 70, 70, 0.7);
  border-color: #bb86fc;
}

.draggable-ship-name {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
  min-width: 8rem;
}

.draggable-ship-visual {
  display: flex;
}

.draggable-ship-visual::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  background-color: rgba(255, 255, 255, 0.38);
}

.draggable-ship-visual[data-length="2"]::before {
  box-shadow: 1.25rem 0 rgba(255, 255, 255, 0.38);
}
.draggable-ship-visual[data-length="3"]::before {
  box-shadow:
    1.25rem 0 rgba(255, 255, 255, 0.38),
    2.5rem 0 rgba(255, 255, 255, 0.38);
}
.draggable-ship-visual[data-length="4"]::before {
  box-shadow:
    1.25rem 0 rgba(255, 255, 255, 0.38),
    2.5rem 0 rgba(255, 255, 255, 0.38),
    3.75rem 0 rgba(255, 255, 255, 0.38);
}
.draggable-ship-visual[data-length="5"]::before {
  box-shadow:
    1.25rem 0 rgba(255, 255, 255, 0.38),
    2.5rem 0 rgba(255, 255, 255, 0.38),
    3.75rem 0 rgba(255, 255, 255, 0.38),
    5rem 0 rgba(255, 255, 255, 0.38);
}

.draggable-ship-visual.vertical {
  transform: rotate(90deg);
  transform-origin: center;
}

.draggable-ship.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.valid-drop-preview {
  background-color: lightgreen !important;
  border-color: green !important;
}

.invalid-drop-preview {
  background-color: lightpink !important;
  border-color: red !important;
}

/* Board Controls */

#board-controls-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.board-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(52, 52, 52);
  padding: 0.5rem;
  min-width: 20rem;
}

.board-control-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

.board-control-buttons {
  display: flex;
  gap: 1rem;
}

#left-board-random-placement-button,
#right-board-random-placement-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #bb86fc;
  font-weight: bold;
  height: 2rem;
}

#left-board-random-placement-button:hover,
#right-board-random-placement-button:hover {
  opacity: 0.9;
}

#left-board-reset-placement-button,
#right-board-reset-placement-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #3700b3;
  color: rgba(255, 255, 255, 0.87);
  font-weight: bold;
  height: 2rem;
}

#left-board-reset-placement-button:hover,
#right-board-reset-placement-button:hover {
  opacity: 0.9;
}

/* Manual Placement Section */

details > summary {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.38);
  text-align: center;
}

#manual-placement-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.6);
}

.manual-placement-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
  padding: 0.5rem;
}

.manual-placement-board-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
}

.manual-placement-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
  color: rgba(255, 255, 255, 0.87);
  min-width: 23rem;
}

#left-board-manual-placement-button,
#right-board-manual-placement-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #bb86fc;
  font-weight: bold;
  height: 2rem;
  width: 10rem;
  align-self: center;
}

#left-board-manual-placement-error,
#right-board-manual-placement-error {
  color: #cf6679;
  font-weight: bold;
  text-align: center;
}

/* Game Board Container */

#playing-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

#game-boards-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

#left-header,
#right-header {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
}

.game-board-square {
  border: 1px solid grey;
  aspect-ratio: 1;
  position: relative;
}

.water {
  background-color: skyblue;
}

.ship {
  background-color: lightgrey;
}

.hidden-ship {
  background-color: skyblue;
}

.miss {
  background-color: skyblue;
}

.miss::after {
  content: "•";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 6rem;
  font-weight: bold;
  pointer-events: none;
}

.hit {
  background-color: lightgrey;
}

.hit::after {
  content: "❌";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  pointer-events: none;
}

/* Start Game Buttons Container */

#start-game-buttons-container,
#playing-game-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#start-game-buttons-container.hidden,
#playing-game-buttons-container.hidden {
  display: none;
}

#start-game-button-container,
#quick-start-button-container,
#start-new-game-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(36, 36, 36);
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.87);
}

#quick-start-button-container.hidden {
  display: none;
}

#start-game-button,
#quick-start-button,
#start-new-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #03dac6;
  font-weight: bold;
  height: 2rem;
}

#start-game-button:hover,
#quick-start-button:hover,
#start-new-game-button:hover {
  opacity: 0.9;
}

#start-game-buttons-error {
  color: #cf6679;
  font-weight: bold;
  font-size: 1rem;
}

#start-new-game-from-mode-selection-explanation {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.38);
  text-align: center;
}

/* Pass Device Screen */

#pass-device-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 2rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  z-index: 1000;
}

#pass-device-message {
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.87);
}

#pass-device-continue-button {
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #bb86fc;
  font-weight: bold;
  font-size: 2rem;
}

#pass-device-continue-button:hover {
  opacity: 0.9;
}

#pass-device-screen.hidden {
  display: none;
}
